<html>
    <head>
        <title>File Transfer Service</title>
    </head>

    <body>
        <button id="Home">Go back to home</button>
        Upload files(P2P)!
        <form>
            <input type="file" name="files"/>
        </form>
        <script type="text/javascript">
            const home = document.getElementById('Home')
            home.addEventListener('click', () => {
                window.location.href='http://localhost:9000/'
            })
        </script>
    </body>
</html>